body {
    color: hsl(0, 0%, 21%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 40px;
}



.bar {
    width: 25px;
    background-color: indianred;
    display: inline-block;
    margin-right: 5px;
}

.bar:hover {
    fill: brown
}
